doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='theme-color' content='#000000')
  link(rel='shortcut icon' href='./assets/img/favicon.ico')
  link(rel='apple-touch-icon' sizes='76x76' href='./assets/img/apple-icon.png')
  link(rel='stylesheet' href='./assets/vendor/@fortawesome/fontawesome-free/css/all.min.css')
  link(rel='stylesheet' href='../../stylesheets/login.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css')
  title BikesNet
main
  section#login.absolute.w-full.h-full
    nav.z-50.relative.w-full.flex.flex-wrap.items-center.px-2.py-3.navbar-expand-lg.justify-center.mb-2
      a.font-bold.inline-block.mr-4.whitespace-no-wrap.uppercase.text-white(href='/')
        | BikesNet
    #login.absolute.top-0.w-full.h-full.bg-gray-900(style='background-image: url(../../img/bg_register_login.jpg); background-size: cover; background-repeat: no-repeat;')
    .container.mx-auto.px-2
      .flex.content-center.items-center.justify-center.mb-5
        .w-full.px-4(class='md:w-8/12')
          .relative.flex.flex-col.min-w-0.break-words.w-full.h-100.shadow-lg.rounded-lg.bg-gray-300.border-0
            .rounded-t.mb-0.px-6.py-6
              .text-center.mb-3
                h6.text-gray-600.text-sm.font-bold
                  | Inicia sesion con
              .text-center.flex.justify-center
                a.bg-white.text-gray-800.font-normal.px-12.py-2.rounded.outline-none.mr-2.mb-1.uppercase.shadow.inline-flex.items-center.font-bold.text-xs(href='/auth/facebook' class='active:bg-gray-100 md:px-4 focus:outline-none hover:shadow-md' type='button' style='transition: all 0.15s ease 0s')
                  svg.fill-current.text-teal-500.inline-block.h-6.w-6(xmlns='http://www.w3.org/2000/svg' x="0px" y="0px"
                  width="266.893px" height="266.895px" viewBox="0 0 266.893 266.895" enable-background="new 0 0 266.893 266.895"
                  xml:space="preserve")
                    path#Blue_1_(fill='#3C5A99' d='M248.082,262.307c7.854,0,14.223-6.369,14.223-14.225V18.812\
                    c0-7.857-6.368-14.224-14.223-14.224H18.812c-7.857,0-14.224,6.367-14.224,14.224v229.27c0,7.855,6.366,14.225,14.224,14.225\
                    H248.082z')
                    path#f(fill='#FFFFFF' d='M182.409,262.307v-99.803h33.499l5.016-38.895h-38.515V98.777c0-11.261,3.127-18.935,19.275-18.935\
                    l20.596-0.009V45.045c-3.562-0.474-15.788-1.533-30.012-1.533c-29.695,0-50.025,18.126-50.025,51.413v28.684h-33.585v38.895h33.585\
                    v99.803H182.409z')
                  p.hidden.facebook(class='md:flex') Facebook
                a.bg-white.text-gray-800.font-normal.px-12.py-2.rounded.outline-none.mr-1.mb-1.uppercase.shadow.inline-flex.items-center.font-bold.text-xs(href='/auth/google' class='active:bg-gray-100 md:px-4 focus:outline-none hover:shadow-md' type='button' style='transition: all 0.15s ease 0s')
                  svg.fill-current.text-teal-500.inline-block.h-6.w-6(xmlns='http://www.w3.org/2000/svg' width="36px" height="36px" viewBox="0 0 36 36") 
                    path#Shape(d='M32.4365525,16.6024012 C32.4365525,15.4515967 32.3313665,14.344128 32.1357206,13.2820585 L16.5492615,13.2820585 L16.5492615,19.5616128 L25.4557094,19.5616128 C25.0721312,21.5908257 23.9059692,23.3098098 22.1535707,24.4613022 L22.1535707,28.5341733 L27.5019274,28.5341733 C30.631561,25.7077204 32.4365525,21.5461142 32.4365525,16.6024012 L32.4365525,16.6024012 Z' fill='#4285F4')
                    path#Shape(d='M16.5492615,32.4674071 C21.0175621,32.4674071 24.7635856,31.0139403 27.5019274,28.5341733 L22.1535707,24.4613022 C20.6718508,25.4353244 18.7756982,26.0110706 16.5492615,26.0110706 C12.2387399,26.0110706 8.59088994,23.1557272 7.2893887,19.3181072 L1.76011213,19.3181072 L1.76011213,23.5244249 C4.48302664,28.8299569 10.0796222,32.4674071 16.5492615,32.4674071 L16.5492615,32.4674071 Z' fill='#34A853')
                    path#Shape(d='M7.2893887,19.3181072 C6.95840347,18.344085 6.77047118,17.3033395 6.77047118,16.2337035 C6.77047118,15.1640676 6.95840347,14.1233221 7.2893887,13.1492999 L7.2893887,8.94298219 L1.76011213,8.94298219 C0.639530783,11.1345322 0,13.6142992 0,16.2337035 C0,18.8531079 0.639530783,21.3328749 1.76011213,23.5244249 L7.2893887,19.3181072 L7.2893887,19.3181072 Z' fill='#FBBC05')
                    path#Shape(d='M16.5492615,6.4563365 C18.9790577,6.4563365 21.160615,7.27558824 22.8758478,8.88382548 L27.6225407,4.22764161 C24.755872,1.60892511 21.0098485,0 16.5492615,0 C10.0803235,0 4.48302664,3.63813805 1.76011213,8.94298219 L7.2893887,13.1492999 C8.59088994,9.31236774 12.2394411,6.4563365 16.5492615,6.4563365 Z' fill='#EA4335')
                  p.hidden.google(class='md:flex') Google
              hr.mt-6.border-b-1.border-gray-400
            .flex-auto.px-5.py-10.pt-0(class='md:px-12 lg:px-10')
              .text-gray-500.text-center.mb-3.font-bold
                small O inicia con tu email
              form(action='/login' method='post')
                .relative.w-full.mb-3
                  label.block.uppercase.text-gray-700.text-xs.font-bold.mb-2(for='grid-password') Email
                  input.px-3.py-2.placeholder-gray-400.text-gray-700.bg-white.rounded.text-sm.shadow.w-full(type='email' class='focus:outline-none focus:shadow-outline' placeholder='Ingresa tu email' name='username' style='transition: all 0.15s ease 0s')
                .relative.w-full.mb-3
                  label.block.uppercase.text-gray-700.text-xs.font-bold.mb-2(for='grid-password') Contrase&ntilde;a
                  input.px-3.py-2.placeholder-gray-400.text-gray-700.bg-white.rounded.text-sm.shadow.w-full(type='password' class='focus:outline-none focus:shadow-outline' placeholder='Ingresa tu contraseña' name='password' style='transition: all 0.15s ease 0s')
                .text-center.mt-6
                  button.bg-gray-900.text-white.text-sm.font-bold.uppercase.px-6.py-3.rounded.shadow.outline-none.mr-1.mb-1.w-full(class='active:bg-gray-700 hover:shadow-lg focus:outline-none' type='submit' style='transition: all 0.15s ease 0s')
                    | Iniciar Sesion
              .flex.flex-wrap
                hr.w-full.mt-2.mr-4.border-b-2.border-gray-500
                .class=''
                  a.text-gray-600(href='/forgotPassword')
                    small Olvidaste tu constrase&ntilde;a?
              .flex.flex-row.text-gray-500.text-center.mb-3.font-bold.mt-8.justify-center.align-center
                hr.w-full.mt-2.mr-4.border-b-2.border-gray-500
                h6.w-full.text-gray-600.font-bold.text-sm.noAccount  Sino tenes cuenta 
                hr.w-full.mt-2.ml-4.border-b-2.border-gray-500
              .text-center.mt-6
                a.bg-white.border-gray-900.border-2.text-gray-900.text-sm.font-bold.uppercase.px-6.py-3.rounded.shadow.outline-none.mr-1.mb-1.w-full(href='/users/create' class='active:bg-gray-700 hover:shadow-lg focus:outline-none' type='button' style='transition: all 0.15s ease 0s')
                  | Registrate
