extends layout

block content
  nav.top-0.absolute.z-50.w-full.flex.flex-wrap.items-center.justify-between.px-2.navbar-expand-lg
    .container.px-4.mx-auto.flex.flex-wrap.items-center.justify-between
      .w-full.relative.flex.justify-between(class='lg:w-auto lg:static lg:block lg:justify-start')
        a.text-sm.font-bold.leading-relaxed.inline-block.mr-4.py-2.whitespace-no-wrap.uppercase.text-white(href='/') BIKESNET
        button.cursor-pointer.text-xl.leading-none.px-3.py-1.border.border-solid.border-transparent.rounded.bg-transparent.block.outline-none(class='lg:hidden focus:outline-none' type='button' onclick="toggleNavbar('example-collapse-navbar')")
          i.text-white.fas.fa-bars
      #example-collapse-navbar.items-center.hidden(class='lg:flex lg:bg-transparent lg:shadow-none')
        ul.flex.flex-col.list-none.mr-auto(class='lg:flex-row')
          li.flex.items-center
            a.text-gray-800.px-3.py-4.flex.items-center.text-xs.uppercase.font-bold(class='lg:text-white lg:hover:text-gray-300 lg:py-2' href='#main_map')
              
              | Mapa
        ul.flex.flex-col.list-none.mr-auto(class='lg:flex-row')
          li.flex.items-center
            a.text-gray-800.px-3.py-4.flex.items-center.text-xs.uppercase.font-bold(class='lg:text-white lg:hover:text-gray-300 lg:py-2' href='/bikes')
              
              | Bicis
        ul.flex.flex-col.list-none(class='lg:flex-row lg:ml-auto')
          li.flex.items-center
            a.bg-white.text-gray-800.text-xs.font-bold.uppercase.px-4.py-2.rounded.shadow.outline-none.ml-3.mt-2(href=user ? '/logout' : '/login' class='active:bg-gray-100 hover:shadow-md focus:outline-none lg:mr-1 lg:mb-0' type='button' style='transition: all 0.15s ease 0s')
              if user  
                  
                |  LOGOUT 
              else
                  
                | LOGIN          
  main
    .relative.pt-16.pb-32.flex.content-center.items-center.justify-center(style='min-height: 75vh')
      .absolute.top-0.w-full.h-full.bg-center.bg-cover(style="\
      background-image: url('../../img/bg_register_login.jpg');\
      ")
        span#blackOverlay.w-full.h-full.absolute.opacity-75.bg-black
      .container.relative.mx-auto
        .items-center.flex.flex-wrap
          .w-full.px-4.ml-auto.mr-auto.text-center(class='lg:w-6/12')
            .pr-12
              h1.text-white.font-semibold.text-5xl
                | RED BICICLETAS
              p.mt-4.text-lg.text-gray-300
                | La primera comunidad online de ciclistas urbanos.
      .top-auto.bottom-0.left-0.right-0.w-full.absolute.pointer-events-none.overflow-hidden(style='height: 70px; transform: translateZ(0px)')
        svg.absolute.bottom-0.overflow-hidden(xmlns='http://www.w3.org/2000/svg' preserveaspectratio='none' version='1.1' viewbox='0 0 2560 100' x='0' y='0')
          polygon.text-gray-300.fill-current(points='2560 0 2560 100 0 100')
    section.pb-20.bg-gray-300.-mt-24
      .container.mx-auto.px-4
        .flex.flex-wrap
          .pt-6.w-full.px-4.text-center(class='lg:pt-12 md:w-4/12')
            .relative.flex.flex-col.min-w-0.break-words.bg-white.w-full.mb-8.shadow-lg.rounded-lg
              .px-4.py-5.flex-auto
                .text-white.p-3.text-center.inline-flex.items-center.justify-center.w-12.h-12.mb-5.shadow-lg.rounded-full.bg-red-400
                  i.fas.fa-award
                h6.text-xl.font-semibold Awarded Agency
                p.mt-2.mb-4.text-gray-600
                  | Divide details about your product or agency work into parts.
                  | A paragraph describing a feature will be enough.
          .w-full.px-4.text-center(class='md:w-4/12')
            .relative.flex.flex-col.min-w-0.break-words.bg-white.w-full.mb-8.shadow-lg.rounded-lg
              .px-4.py-5.flex-auto
                .text-white.p-3.text-center.inline-flex.items-center.justify-center.w-12.h-12.mb-5.shadow-lg.rounded-full.bg-blue-400
                  i.fas.fa-retweet
                h6.text-xl.font-semibold Free Revisions
                p.mt-2.mb-4.text-gray-600
                  | Keep you user engaged by providing meaningful information.
                  | Remember that by this time, the user is curious.
          .pt-6.w-full.px-4.text-center(class='md:w-4/12')
            .relative.flex.flex-col.min-w-0.break-words.bg-white.w-full.mb-8.shadow-lg.rounded-lg
              .px-4.py-5.flex-auto
                .text-white.p-3.text-center.inline-flex.items-center.justify-center.w-12.h-12.mb-5.shadow-lg.rounded-full.bg-green-400
                  i.fas.fa-fingerprint
                h6.text-xl.font-semibold Verified Company
                p.mt-2.mb-4.text-gray-600
                  | Write a few lines about each one. A paragraph describing a
                  | feature will be enough. Keep you user engaged!
        .flex.flex-wrap.items-center.mt-32
          .w-full.px-4.mr-auto.ml-auto(class='md:w-5/12')
            .text-gray-600.p-3.text-center.inline-flex.items-center.justify-center.w-16.h-16.mb-6.shadow-lg.rounded-full.bg-gray-100
              i.fas.fa-user-friends.text-xl
            h3.text-3xl.mb-2.font-semibold.leading-normal
              | Working with us is a pleasure
            p.text-lg.font-light.leading-relaxed.mt-4.mb-4.text-gray-700
              | Don&apos;t let your uses guess by attaching tooltips and popoves to
              | any element. Just make sure you enable them first via
              | JavaScript.
            p.text-lg.font-light.leading-relaxed.mt-0.mb-4.text-gray-700
              | The kit comes with three pre-built pages to help you get started
              | faster. You can change the text and images and you&apos;re good to
              | go. Just make sure you enable them first via JavaScript.
            a.font-bold.text-gray-800.mt-8(href='https://www.creative-tim.com/learning-lab/tailwind-starter-kit#/presentation') Check Tailwind Starter Kit!
          .w-full.px-4.mr-auto.ml-auto(class='md:w-4/12')
            .relative.flex.flex-col.min-w-0.break-words.bg-white.w-full.mb-6.shadow-lg.rounded-lg.bg-pink-600
              img.w-full.align-middle.rounded-t-lg(alt='...' src='https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80')
              blockquote.relative.p-8.mb-4
                svg.absolute.left-0.w-full.block(preserveaspectratio='none' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 583 95' style='height: 95px; top: -94px')
                  polygon.text-pink-600.fill-current(points='-30,95 583,95 583,65')
                h4.text-xl.font-bold.text-white
                  | Top Notch Services
                p.text-md.font-light.mt-2.text-white
                  | The Arctic Ocean freezes every winter and much of the
                  | sea-ice then thaws every summer, and that process will
                  | continue whatever happens.
    section.relative.py-20
      .bottom-auto.top-0.left-0.right-0.w-full.absolute.pointer-events-none.overflow-hidden.-mt-20(style='height: 80px; transform: translateZ(0px)')
        svg.absolute.bottom-0.overflow-hidden(xmlns='http://www.w3.org/2000/svg' preserveaspectratio='none' version='1.1' viewbox='0 0 2560 100' x='0' y='0')
          polygon.text-white.fill-current(points='2560 0 2560 100 0 100')
      .container.mx-auto.px-4
        .items-center.flex.flex-wrap
          .w-full.ml-auto.mr-auto.px-4(class='md:w-4/12')

        #main_map
    section.pb-20.relative.block.bg-gray-900
      .bottom-auto.top-0.left-0.right-0.w-full.absolute.pointer-events-none.overflow-hidden.-mt-20(style='height: 80px; transform: translateZ(0px)')
        svg.absolute.bottom-0.overflow-hidden(xmlns='http://www.w3.org/2000/svg' preserveaspectratio='none' version='1.1' viewbox='0 0 2560 100' x='0' y='0')
          polygon.text-gray-900.fill-current(points='2560 0 2560 100 0 100')
      .container.mx-auto.px-4(class='lg:pt-24 lg:pb-64')
        .flex.flex-wrap.mt-12.justify-center
          .w-full.px-4.text-center(class='lg:w-3/12')
            .text-gray-900.p-3.w-12.h-12.shadow-lg.rounded-full.bg-white.inline-flex.items-center.justify-center
              i.fas.fa-medal.text-xl
            h6.text-xl.mt-5.font-semibold.text-white
              | Excelent Services
            p.mt-2.mb-4.text-gray-500
              | Some quick example text to build on the card title and make up
              | the bulk of the card&apos;s content.
          .w-full.px-4.text-center(class='lg:w-3/12')
            .text-gray-900.p-3.w-12.h-12.shadow-lg.rounded-full.bg-white.inline-flex.items-center.justify-center
              i.fas.fa-poll.text-xl
            h5.text-xl.mt-5.font-semibold.text-white
              | Grow your market
            p.mt-2.mb-4.text-gray-500
              | Some quick example text to build on the card title and make up
              | the bulk of the card&apos;s content.
          .w-full.px-4.text-center(class='lg:w-3/12')
            .text-gray-900.p-3.w-12.h-12.shadow-lg.rounded-full.bg-white.inline-flex.items-center.justify-center
              i.fas.fa-lightbulb.text-xl
            h5.text-xl.mt-5.font-semibold.text-white Launch time
            p.mt-2.mb-4.text-gray-500
              | Some quick example text to build on the card title and make up
              | the bulk of the card&apos;s content.
    section.relative.block.py-24.bg-gray-900(class='lg:pt-0')
      .container.mx-auto.px-4
        .flex.flex-wrap.justify-center.-mt-48(class='lg:-mt-64')
          .w-full.px-4(class='lg:w-6/12')
            .relative.flex.flex-col.min-w-0.break-words.w-full.mb-6.shadow-lg.rounded-lg.bg-gray-300
              .flex-auto.p-5(class='lg:p-10')
                h4.text-2xl.font-semibold &iquest;Tenes alguna consulta?
                p.leading-relaxed.mt-1.mb-4.text-gray-600
                  | Enviamos tu consulta (esto es solo de prueba, no enviar nada)
                .relative.w-full.mb-3.mt-8
                  label.block.uppercase.text-gray-700.text-xs.font-bold.mb-2(for='nome') Nombre
                  input.px-3.py-3.placeholder-gray-400.text-gray-700.bg-white.rounded.text-sm.shadow.w-full(type='text' class='focus:outline-none focus:shadow-outline' placeholder='Ingresa tu nombre' style='transition: all 0.15s ease 0s')
                .relative.w-full.mb-3
                  label.block.uppercase.text-gray-700.text-xs.font-bold.mb-2(for='email') Email
                  input.px-3.py-3.placeholder-gray-400.text-gray-700.bg-white.rounded.text-sm.shadow.w-full(type='email' class='focus:outline-none focus:shadow-outline' placeholder='Ingresa tu email' style='transition: all 0.15s ease 0s')
                .relative.w-full.mb-3
                  label.block.uppercase.text-gray-700.text-xs.font-bold.mb-2(for='message') Mensaje
                  textarea.px-3.py-3.placeholder-gray-400.text-gray-700.bg-white.rounded.text-sm.shadow.w-full(rows='4' cols='80' class='focus:outline-none focus:shadow-outline' placeholder='Escribe tu mensaje...')
                .text-center.mt-6
                  button.bg-gray-900.text-white.text-sm.font-bold.uppercase.px-6.py-3.rounded.shadow.outline-none.mr-1.mb-1(class='active:bg-gray-700 hover:shadow-lg focus:outline-none' type='button' style='transition: all 0.15s ease 0s')
                    | ENVIAR MENSAJE
  footer.relative.bg-gray-300.pt-5.pb-6
    hr.my-6.border-gray-400
    .flex.flex-wrap.items-center.justify-center(class='md:justify-between')
      .w-full.px-4.mx-auto.text-center(class='md:w-4/12')
        .text-sm.text-gray-600.font-semibold.py-1
          | Copyright &copy; 2020 curso backend express nodejs
          
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  // Plugin JavaScript
  script(src='/vendor/jquery-easing/jquery.easing.min.js')
  // Custom scripts for this template
  script(src='/javascripts/stylish-portfolio.min.js')
  script(src='/javascripts/map.js')