doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    // Bootstrap Core CSS
    link(href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    // Custom Fonts
    link(href='/vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')
    link(href='/vendor/simple-line-icons/css/simple-line-icons.css' rel='stylesheet')
    // Custom CSS
    link(href='/stylesheets/stylish-portfolio.min.css' rel='stylesheet')

    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')
    link(rel='shortcut icon' href='./assets/img/favicon.ico')
    link(rel='apple-touch-icon' sizes='76x76' href='./assets/img/apple-icon.png')
    link(rel='stylesheet' href='./assets/vendor/@fortawesome/fontawesome-free/css/all.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css')
    
    title BikesNet

    
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js' integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==' crossorigin='')



  body
    block content
