/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/

a {
  color: #00b7ff;
}

#main_map {
  height: 600px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}
