extends ../layout

block content
  section.absolute.w-full.h-100
    nav.z-50.relative.w-full.flex.flex-wrap.items-center.px-2.py-3.navbar-expand-lg.justify-center.mb-2
      a.font-bold.inline-block.mr-4.whitespace-no-wrap.uppercase.text-white(href='/')
        | BikesNet
    .absolute.top-0.w-full.h-full.bg-gray-900(style='background-image: url(../../img/bg_register_login.jpg); background-size: 100%; background-repeat: no-repeat;')
    .container.mx-auto.px-2
      .flex.content-center.items-center.justify-center.mb-5
        .w-full.px-4(class='md:w-8/12')
          .relative.flex.flex-col.min-w-0.break-words.w-full.h-100.shadow-lg.rounded-lg.bg-gray-300.border-0
            .rounded-t.mb-0.px-6.py-6
              .text-center.mb-3
                h6.text-gray-600.text-sm.font-bold
                  | Registrate
              hr.mt-6.border-b-1.border-gray-400
            .flex-auto.px-5.py-10.pt-0(class='md:px-12 lg:px-10')
              form(action='/users/create' method='post')
                .form-group.relative.w-full
                  label.block.uppercase.text-gray-700.text-xs.font-bold.mb-2(for='name') Nombre
                  input#nombre.form_control.px-3.py-2.placeholder-gray-400.text-gray-700.bg-white.rounded.text-sm.shadow.w-full(type='text' name='name' class=errs.name ? 'is-invalid focus:outline-none focus:shadow-outline' : 'focus:outline-none focus:shadow-outline' placeholder='Ingresa tu nombre' style='transition: all 0.15s ease 0s' value=user.name)
                  if errs.name
                    small#cnombreHelp.text-danger.text-red-700
                      = errs.name.message
                .form-group.relative.w-full.mb-3
                  label.block.uppercase.text-gray-700.text-xs.font-bold.mb-2(for='email') Email
                  input#email.form-control.px-3.py-2.placeholder-gray-400.text-gray-700.bg-white.rounded.text-sm.shadow.w-full(type='email' name='email' class=errs.email ? 'is-invalid focus:outline-none focus:shadow-outline' : 'focus:outline-none focus:shadow-outline' placeholder='Ingresa tu email' style='transition: all 0.15s ease 0s' value=user.email)
                  if errs.email
                    small#emailHelp.text-danger.text-red-700
                      = errs.email.message  
                .form-group.relative.w-full.mb-3
                  label.block.uppercase.text-gray-700.text-xs.font-bold.mb-2(for='password') Contrase&ntilde;a
                  input#pwd.form-control.px-3.py-2.placeholder-gray-400.text-gray-700.bg-white.rounded.text-sm.shadow.w-full(type='password' name='password' class=errs.password ? 'is-invalid focus:outline-none focus:shadow-outline' : 'focus:outline-none focus:shadow-outline' placeholder='Ingresa tu contraseña' style='transition: all 0.15s ease 0s')
                  if errs.password
                    small#passwordHelp.text-danger.text-red-700.mb-5
                      = errs.password.message
                .form-group.relative.w-full
                  label.block.uppercase.text-gray-700.text-xs.font-bold.mb-2(for='confirm_pwd') Confirmar Contrase&ntilde;a
                  input#confirm_pwd.form-control.px-3.py-2.placeholder-gray-400.text-gray-700.bg-white.rounded.text-sm.shadow.w-full(type='password' name='confirm_password' class=errs.confirm_password ? 'is-invalid focus:outline-none focus:shadow-outline' : 'focus:outline-none focus:shadow-outline'
                  placeholder='Confirmar tu contraseña' style='transition: all 0.15s ease 0s')
                  .text-center
                  if errs.confirm_password
                    small#confirm_passwordHelp.text-danger.text-red-700
                      = errs.confirm_password.message

                  button.bg-gray-900.text-white.font-bold.uppercase.px-6.py-3.rounded.shadow.outline-none.mr-1.mb-1.w-full.mt-5(class='active:bg-gray-700 hover:shadow-lg focus:outline-none' type='submit' style='transition: all 0.15s ease 0s')
                      | Registrarse

                  .flex.flex-wrap
                hr.w-full.mt-2.mr-4.border-b-2.border-gray-500
                .class=''
                  a.text-gray-600(href='/login')
                    small Ir a login