extends ../layout

block content
  .container.mx-auto
    a.btn.bg-gray-900.text-white.ml-2.my-2(href='/users/create') Nuevo Usuario

    table.table.mx-auto.container
      thead
        tr  
          th(scope='col') ID
          th(scope='col') Nombre
          th(scope='col') Email
          th(scope='col') Verificado
          th(scope='col')
          th(scope='col')
      tbody
        each user in users
          tr
            td(scope='row') 
              = user.id
            td= user.name
            td= user.email
            td= user.verified ? 'SI' : 'NO'
            td
              a.btn(href= 'users/' + user.id + '/update') Editar
            td
              form.inline(method='post' action='users/' + user.id + '/delete')
                  input(type='hidden' name='id' value= user.id)
                  button.link-button.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn')
                      = 'Eliminar'

  

