extends ../layout

block content
  a(href='/users') Volver

  br
  br
  br

  h1  Actualizando Usuario

  br
  br

  form(action=`/users/${user.id}/update` method='post')
    .form-group
        label(for='name') Nombre: 
        input#nombre.form-control(type='text' name='name' value= user.name class=errs.name ? 'is-invalid' : '')
        if errs.name
            small#nombreHelp.text-danger
               = errs.name.message  
    
    
    br
    br
    input.btn.btn-primary(type='submit' value='OK')
