extends ../layout

block content

    a(href='/bikes') Volver
    br
    br
    br

    #contenedorNewBike
    h2#encabezado Nueva Bicicleta
    form#formulario1(name='formulario1' method='post' action='/bikes/create')
        fieldset#datos_personales
        legend Datos nueva bicicleta
        label(for='code' ) Code:
        br
        input#id(type='number' name='code')
        br
        label(for='color') Color:
        br
        input#apellidos(type='text' name='color')
        br
        label(for='model') Modelo:
        br
        input#dni(type='text' name='model')
        br
        label(for='lat') Latitud:
        br
        input#edad(type='number' placeholder="1.0" step="0.00000001" name='lat')
        br
        label(for='lng') Longitud:
        br
        input#edad(type='number' placeholder="1.0" step="0.00000001" name='lng')
        //label(for='sexo') Sexo:
        //br
        //select#sexo(name='sexo')
        //    option(value='X' selected='selected') ...
        //    option(value='M') M&aacute;sculino
        //    option(value='F') Femenino
        //
        br
        input(type='reset' value='Limpiar Formulario')
        input(type='submit' value='Agregar')
