extends ../layout

block content
    a(href='/bikes/create') Agregar Bicicleta

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                th(scope='col')
        tbody
            each bike in bikes
                tr
                    td(scope='row') 
                        = bike && bike.id
                    td=bike && bike.color
                    td=bike && bike.model
                    td=bike && bike.location
                    td
                        a(href=`bikes/${bike && bike.code}/update`) Editar
                    td
                        form.inline(method='post' action='bikes/'+bike.code+'/delete')
                            input(type='hidden' name='code' value=bike.code)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn') 
                                = 'Eliminar'