extends ../layout

block content

    a(href='/bikes') Volver
    br
    br
    br

    #contenedorNewBike
    h2#encabezado Actualizar Bicicleta
    form#formulario1(name='formulario1' method='post' action=`/bikes/${bike.id}/update`)
        fieldset#datos_personales
        legend Datos nueva bicicleta
        label(for='code' ) color:
        br
        input#code(type='number' name='code' value=bike.code)
        br
        label(for='color') Color:
        br
        input#color(type='text' name='color' value=bike.color)
        br
        label(for='model') Modelo:
        br
        input#model(type='text' name='model' value=bike.model)
        br
        label(for='lat') Latitud:
        br
        input#lat(type='number' name='lat' value=bike.location[0])
        br
        label(for='lng') Longitud:
        br
        input#edad(type='number' name='lng' value=bike.location[1])
        //label(for='sexo') Sexo:
        //br
        //select#sexo(name='sexo')
        //    option(value='X' selected='selected') ...
        //    option(value='M') M&aacute;sculino
        //    option(value='F') Femenino
        //
        br
        input(type='reset' value='Limpiar Formulario')
        input(type='submit' value='ACTUALIZAR')
